.products{    
    cursor: pointer;   
    padding: 1rem;
    box-shadow: 2px 4px 8px darkolivegreen;
    margin: 20px;
}
.card-title {
    font-size: 20px;
    text-shadow: 1px 1px brown;
}

.searchBox{
    width: 40%;
    margin-top: 2rem;
    margin-left: 45rem;
    margin-bottom: 20px;
}    
.tree{    
    margin-left: 30px  !important;
    font-size: 20px;
    text-shadow: 0.5px 0.5px rgb(184, 25, 65);
}
