input[type=text], input[type=email]{
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}
button{
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}

.heading{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-top: 20px;
}
.orderNow{
    margin-bottom: 30px;
}
.alert{
    color: red;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}