.products{    
    cursor: pointer;
    margin: 2rem;
    padding: 1rem;    
    box-shadow: 2px 4px 8px darkolivegreen;
}
.card-title {
    font-size: 20px;
    text-shadow: 1px 1px brown;
}
.image{    
    cursor: pointer;
    margin: 2rem;
    margin-left: 5rem;
    padding: 1rem; 
    box-shadow: 2px 4px 8px darkolivegreen;
    }
.row{
    width: 100%;
}    
.footer{
    position: fixed;
    width:100%;
    bottom: 0px;
}

